.me {
    width: 28rem;
    height: 28em;
    border-radius: 50%;
    margin: 50px 20px;
}

.a {
    border: 1px solid black;
}

.socialLinkIcon {
    width: 2.5rem;
    border: black 1px solid;
    border-radius: 25%;
}

.ghost-text {
    color: #D3D3D3;
}
